#header {
    display: none;
}
        
#footer {
    display: none;
}
        
#side-panel {
    display: none;
}

.report-filter {
    display: none;
}

#main-panel .report-title {
	font-size: xx-large;
	font-weight: bold;
	color: rgb(23,54,93);
}

#main-panel .report-header {
	color: rgb(54,95,145);
	font-size: x-large;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#main-panel .report-subheader {
	color: rgb(79,129,189);
    font-size: large;
    font-style: italic;
}

#main-panel .report-groupheader {
    color: rgb(54,95,145);
    font-size: x-large;
    padding-top: 1em;
}

#main-panel TH {
	color: white;
	background-color: rgb(54,95,145);
}
